<!-- Solr Changes - Start -->
    <!-- <link rel="icon" href="{{{uiRootPath}}}/img/favicon.ico" type="image/x-icon"> -->
    <link rel="icon" href="https://hd123.com/favicon.png" type="image/x-icon">
<!-- Solr Changes - End -->
