<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <!-- Solr Changes - Start -->
      <img class="navbar-item" src="https://hd123.com/favicon.png" width="30" height="30">
      <a class="navbar-item" href="{{{or site.url  siteRootPath}}}">{{site.title}}</a>
      <!-- Solr Changes - End -->
      {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
      {{/if}}

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- Solr Changes - Start -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.antora.org/antora/latest/" target="_blank" rel="noreferrer nopener">Antora Docs（EN）</a>
            <a class="navbar-item" href="https://docs.asciidoctor.org/asciidoctor/latest/" target="_blank" rel="noreferrer nopener">Asciidoctor Docs（EN）</a>
            <a class="navbar-item" href="https://asciidoctor.cn/docs/asciidoc-syntax-quick-reference/index.html" target="_blank" rel="noreferrer nopener">AsciiDoc语法快速参考（中）</a>
            <a class="navbar-item" href="https://plantuml.com/zh/" target="_blank" rel="noreferrer nopener">PlantUML</a>
            <a class="navbar-item" href="https://www.jetbrains.com/idea/" target="_blank" rel="noreferrer nopener">编辑工具推荐：IntelliJ IDEA</a>
          </div>
        </div>
        <!--
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://solr.apache.org/downloads.html" target="_blank" rel="noreferrer nopener">Download</a>
          </span>
        </div>
        -->
        <a class="navbar-item" href="https://www.hd123.com/" target="_blank" rel="noreferrer nopener">HD123.COM</a>
        <!-- Solr Changes - End -->
      </div>
    </div>
  </nav>
</header>
